{% extends 'front/base.html' %}
{% load static %}

{% block content %}
<div class="wrapper">
    <div class="profile-content section">
      <div class="container-fluid">
        <div class="row">
          <div class="profile-picture">
            <div class="fileinput fileinput-new" data-provides="fileinput">
              <br>
                <br>
                  <div class="fileinput-new img-no-padding">
                    <img src="{% static 'front/img/faces/DSC_8139.jpg' %}" style="width:200px;height:200px;">
                  </div>
              <div class="name">
                <h4 class="title text-center">Achmad S<br/><small>S1 Teknik Informatika</small></h4>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto text-center">
            <p>Perkenalkan Saya Achmad Suriansyah - NIM 1911102441181 - Prodi Teknik Informatika. Disini saya akan memperkenalkan hasil proses pembuatan sistem pendukung keputusan untuk menyelesaikan tugas akhir saya yang menjadi salah satu syarat kelulusan. </p>
            <br/>
           
          </div>
        </div>
        <br/>
        
        
      </div>
    </div>
  </div>
{% endblock content %}