{% extends 'front/base.html' %}
{% load static %}

{% block content %}
<div class="wrapper">
    <div class="main">
      <div class="section section-red">
        <div class="container">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center title">
              <h3>CV ISTANA LAUNDRY SAMARINDA</h3>
              <h3 class="title-uppercase"><small>Written by Achmad S for designers</small></h3>
            </div>
          </div>
          <div class="article">
            <div class="row">
              <div class="col-md-8 ml-auto mr-auto">
                <div class="card card-blog card-plain text-center">
                  <div class="card-image">
                    <a href="pablo">
                      <img class="img img-raised" src="{% static 'front/img/istana.jpeg' %}">
                    </a>
                  </div>
                  <div class="card-body">
                    <div class="card-category">
                      <span class="badge badge-primary main-tag">Featured</span>
                    </div>
                    <a href="javascrip: void(0);">
                      <h3 class="card-title">Mengenal Lebih Dekat Dengan Cv Istana Laundry</h3>
                    </a>
                    <div class="card-description">
                      <p>Istana Laundry adalah sebuah perusahaan yang bergerak dibidang jasa binatu Istana Laundry didirikan pada tahun 2011 dengan tujuan memberikan pelayanan jasa pada masyarakat samarinda dalam hal BINATU.
                        Istana Laundry pada tahun 2023 ini, memiliki 7 Outlet Penerimaan dan 1 Workshop guna mendukung keperluan masyarakat Samarinda. </p>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}